<!DOCTYPE html>
<html>
  <head>
    <title><%= config['character_name'] %> - Savage Worlds Character Sheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      body {
        background-color: e6ffff;
      }
    </style>
  </head>
  <body>

    <!-- Sidebar is hidden by default because of the style="display:none;" setting.-->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none;" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
      <button class="w3-bar-item w3-button tablink w3-red" onclick="openStuff(event, 'CampaignInfo')">Campaign Info</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Attributes')">Attributes</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Skills')">Skills</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'EdgesAndHAdvances')">Edges and Advances</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Hinderances')">Hinderances</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Powers')">Powers</button>
      <button class="w3-bar-item w3-button tablink" onclick="openStuff(event, 'Weapons')">Weapons</button>
    </div>

    <!-- Page Content -->
    <div class="w3-teal">
      <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
      <div class="w3-container">
        <h1><%= config['character_name'] %></h1>
        <h6>Savage Worlds</h6>
      </div>
    </div>

    <div id="CampaignInfo" class="w3-container w3-border section">
      <h2>Campaign Info</h2>
      <p>Campaign Name:</p>
      <p style="padding-left: 20px;">In the startings of...</p>
      <p>Character Name: <%= config['character_name'] %></p>
      <p>Player Name: <%= config['player_name'] %></p>
      <p>Race/Species: <%= config['race_or_species'] %></p>
      <p>Bennies: <text id="Bennies Count"><%= config['bennies'] %></text> <button class="w3-button w3-circle w3-red" onclick="decrement_count('Bennies Count')">-</button> <button class="w3-button w3-circle w3-green" onclick="increment_count('Bennies Count')">+</button></p>
      <p>Conviction: <%= config['conviction'] %></p>
      <p>Size: <%= config['size'] %></p>
      <p>Height: <%= config['height'] %></p>
      <p>Weight: <%= config['weight'] %></p>
      <p>Background:</p>
      <p style="padding-left: 20px;"><%= config['character_background'] %></p>
      <p>Appearance:</p>
      <p style="padding-left: 20px;"><%= config['character_appearance'] %></p>
    </div>

    <div id="Attributes" class="w3-container w3-border section" style="display:none">
      <h2>Combat Attributes</h2>
      <p>Wounds: <%= config['traits']['wounds'] %></p>
      <p>Fatigue: <%= config['traits']['fatigue'] %></p>
      <p>Pace: <%= config['traits']['pace'] %></p>
      <p>Parry: <%= config['traits']['parry'] %></p>
      <p>Toughness: <%= config['traits']['toughness'] %></p>
      <h2>General Attributes</h2>
      <p>Agility: <%= config['attributes']['agility'] %></p>
      <p>Smarts: <%= config['attributes']['smarts'] %></p>
      <p>Spirit: <%= config['attributes']['spirit'] %></p>
      <p>Strength: <%= config['attributes']['strength'] %></p>
      <p>Vigor: <%= config['attributes']['vigor'] %></p>
    </div>

    <div id="Skills" class="w3-container w3-border section" style="display:none">
      <h2>Skills</h2>
      <% config['skills'].each do |name, rating| %>
      <p><%= name %>: <%= rating %></p>
      <% end %>
    </div>

    <div id="EdgesAndHAdvances" class="w3-container w3-border section" style="display:none">
      <h2>Edges and Advances</h2>

      <% if config['edges_and_advances']['base_edges'] %>
      <h3>Base Edges</h3>
      <% config['edges_and_advances']['base_edges'].each do |edge, data| %>
      <p>Name: <%= edge %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
      <% end %>

      <% if config['edges_and_advances']['novice_edges'] %>
      <h3>Novice Edges</h3>
      <% config['edges_and_advances']['novice_edges'].each do |edge, data| %>
      <p>Name: <%= edge %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
      <% end %>

      <% if config['edges_and_advances']['seasoned_edges'] %>
      <h3>Seasoned Edges</h3>
      <% config['edges_and_advances']['seasoned_edges'].each do |edge, data| %>
      <p>Name: <%= edge %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
      <% end %>

      <% if config['edges_and_advances']['veteran_edges'] %>
      <h3>Veteran Edges</h3>
      <% config['edges_and_advances']['veteran_edges'].each do |edge, data| %>
      <p>Name: <%= edge %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
      <% end %>

      <% if config['edges_and_advances']['heroic_edges'] %>
      <h3>Heroic Edges</h3>
      <% config['edges_and_advances']['heroic_edges'].each do |edge, data| %>
      <p>Name: <%= edge %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
      <% end %>

      <% if config['edges_and_advances']['legendary_edges'] %>
      <h3>Legendary Edges</h3>
      <% config['edges_and_advances']['legendary_edges'].each do |edge, data| %>
      <p>Name: <%= edge %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
      <% end %>
    </div>

    <div id="Hinderances" class="w3-container w3-border section" style="display:none">
      <h2>Hinderance</h2>

      <% config['hindrances'].each do |hindrance, data| %>
      <p>Name: <%= hindrance %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
    </div>

    <div id="Powers" class="w3-container w3-border section" style="display:none">
      <h2>Powers</h2>

      <% config['powers'].each do |name, data| %>
      <h3><%= name %></h3>
      <p style="padding-left: 20px">PP: <text id="<%= name %> Power Points"><%= data['pp'] %></text> <button class="w3-button w3-circle w3-red" onclick="decrement_count('<%= name %> Power Points')">-</button> <button class="w3-button w3-circle w3-green" onclick="increment_count('<%= name %> Power Points')">+</button></p>
      <p style="padding-left: 20px">Range: <%= data['range'] %></p>
      <p style="padding-left: 20px">Duration: <%= data['duration'] %></p>
      <p style="padding-left: 20px">Effect: <%= data['effect'] %></p>
      <p style="padding-left: 20px">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px">Page: <%= data['page'] %></p>
      <p style="padding-left: 20px">Description: <%= data['description'] %></p>
      <% end %>
    </div>

    <div id="Weapons" class="w3-container w3-border section" style="display:none">
      <h2>Weapons</h2>
      <% config['weapons'].each do |name, data| %>
      <h3><%= name %></h3>
      <p style="padding-left: 20px;">Range: <%= data['range'] %></p>
      <p style="padding-left: 20px;">Damage: <%= data['damage'] %></p>
      <p style="padding-left: 20px;">AP: <%= data['ap'] %></p>
      <p style="padding-left: 20px;">ROF: <%= data['rate_of_fire'] %></p>
      <p style="padding-left: 20px;">Weight: <%= data['weight'] %></p>
      <p style="padding-left: 20px;">Notes:</p>
      <p style="padding-left: 40px;"><%= data['notes'] %></p>
      <p style="padding-left: 20px;">Ammo: <text id="<%= name %> Ammo Count"><%= data['ammunition'] %></text> <button class="w3-button w3-circle w3-red" onclick="decrement_count('<%= name %> Ammo Count')">-</button> <button class="w3-button w3-circle w3-green" onclick="increment_count('<%= name %> Ammo Count')">+</button></p>
      <p style="padding-left: 20px;">Book: <%= data['book'] %></p>
      <p style="padding-left: 20px;">Page: <%= data['page'] %></p>
      <% end %>
    </div>

    <script>
      // Opens the top navigational menu.
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }

      // Closes the top navigational menu.
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }

      // openStuff function is used to open a new window in a tabbed layout,
      // and also highlights the current tab in the menu.
      // This was shamelessly stolen from W3Schools.
      //
      // @param evt [HTML Event] The recently clicked object.
      // @param sectionName [String] ID of the section to display.
      function openStuff(evt, sectionName) {
        var i, x, tablinks;
        // Get all of the Elements that are named section in the class tag.
        x = document.getElementsByClassName("section");
        // For each found section, loop through and hide it.
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        // Grab all the tablinks, which in this case are in the side menu.
        tablinks = document.getElementsByClassName("tablink");
        // For each of those tablinks found, remove the w3-red class, effectibely
        // unhighlighting it.
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        // Display the section we wanted from the menu button being clicked.
        document.getElementById(sectionName).style.display = "block";
        // Make that menu button now w3-red.
        evt.currentTarget.className += " w3-red";
        // Hide the sidebar again.
        document.getElementById("mySidebar").style.display = "none";
      }

      // decrement_count is used to change values while in play for things like
      // the health or ammo count of something.
      //
      // @param element_id [String] ID of the Element to edit.
      function decrement_count(element_id) {
        // Get the value of the HTML element, or inner HTML.
        current_count = document.getElementById(element_id).innerHTML;
        // Type-cast the value to a number, and subtract 1 from it, changing
        // the value displayed.
        document.getElementById(element_id).innerHTML = (Number(current_count) - 1);
      }

      // increment_count is used to change values while in play for things like
      // the health or ammo count of something.
      //
      // @param element_id [String] ID of the Element to edit.
      function increment_count(element_id) {
        // Get the value of the HTML element, or inner HTML.
        current_count = document.getElementById(element_id).innerHTML;
        // Type-cast the value to a number, and subtract 1 from it, changing
        // the value displayed.
        document.getElementById(element_id).innerHTML = (Number(current_count) + 1);
      }
    </script>

    <noscript>
      Your browser does not support JavaScript. JavaScript is required for this web application.
    </noscript>

  </body>
</html>
